<p>test works!</p>
<h1>hello i am {{title}}</h1>
<div>
    <app-test2 [message]="messageFromTest3"></app-test2>
</div>
<ul>
    <li *ngFor="let employe of employee; index as i">
        <h2>{{ employe.name.firstname }} {{ employe.name.lastname }} is at index {{ i }}</h2>
        <p>Email: {{ employe.email }}</p>
        <p>Username: {{ employe.username }}</p>
        <p>Phone: {{ employe.phone }}</p>
        <p>Address: {{ employe.address.number }}, {{ employe.address.street }}, {{ employe.address.city }}, {{
            employe.address.zipcode }}</p>
        <p>Geolocation: ({{ employe.address.geolocation.lat }}, {{ employe.address.geolocation.long }})</p>
    </li>
</ul>